<div class="form-wrap mx-2">
    <div class="card">
        <div class="card-header">
            <strong>Create Faculty</strong>
        </div>
        <div class="card-body card-block">
            <form method="POST" class="form-horizontal" action="/createFaculty" enctype="multipart/form-data">
                <%-include("./partials/messages") %>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="hf-name" class=" form-control-label">Faculty Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="name" id="hf-name" name="name" placeholder="Enter faculty name..." class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="file-input" class=" form-control-label">Banner Image</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="file" id="file-input" name="thumbnail" class="form-control-file" accept="image/*">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Create
                    </button>
                </div>
            </form>
        </div>
    </div>
